#index-banner{
    height: 121px;
}
.brand-logo{
    margin: 6px 10px 0 10px;
}
.heading{
    display: inline;
    margin-left: 10px;
    padding-bottom: 20px;
}
.main-body{
    padding-left: 250px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
.signin{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}
.form-signin{
    margin-left: 33%;
    padding-top: 50px;
    height: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}
.heading1{
    text-align: center;
    
}
.bg {
    padding-top: 10px;
}
.logout{
    padding-top: 30px;
    font-size: 20px;
}
.footer-stick {
    position: relative;
}
#main_content{
    padding-top: 35px;
}
.paddl{
    padding: 0px 30px 30px 30px;
}
.paddh{
    padding: 0px 30px 0px 30px;
    color: grey;
}
.spotlighth{
    padding-left: 30px;
}
.text-danger{
    color: red;
}
.show-inline{
    display: inline;
}
.showlink{
    cursor: pointer;
}